{% extends 'layout.html' %}
{% block title %} sefi gardaw {% endblock %}
{% block content %}
<div class="container register">
   <div class="row">
      <div class="col-md-3 register-left">
         <img src="https://image.ibb.co/n7oTvU/logo_white.png" alt="" />
         <h3>Welcome</h3>
         <h1>to shief editor page {{ name }} </h1>
      </div>
      <div class="col-md-9 register-right">
         <ul class="nav nav-tabs nav-justified" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
               <a class="nav-link active" id="all-tab" data-bs-toggle="tab" data-bs-target="#all" type="button"
                  role="tab" aria-controls="all" aria-selected="true">aLL Papers</a>
            </li>
        <!--   <li class="nav-item" role="presentation">
               <a class="nav-link" id="accept-tab" data-bs-toggle="tab" data-bs-target="#accept" type="button"
                  role="tab" aria-controls="accept" aria-selected="false">Accepted paper</a>
            </li>--> 
         </ul>
         <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="all" role="tabpanel" aria-labelledby="all-tab">
               <h3 class="register-heading">Review a paper</h3>

                  <div class="row register-form">
                     <div class="col-md-10">
                        <div class="form-group">
                           <table class="table table-primary table-striped">
                              <thead>
                                 <tr>
                                    <th scope="col">All Authors</th>
                                    <th scope="col">Accepted papers </th>
                                    <th scope="col">Accept/Reject</th>
                                    <th scope="col">Comments by Reviewers</th>
                                 </tr>
                              </thead>
                              <tbody>
                                 {% for i in data %}
                                 <tr>
                                    <td scope="row">{{i.firstname}} {{i.lastname}}</td>
                                    <td>{{i.point}}</td>
                                    <td>
                                       <!-- Button trigger modal -->
                                       <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                          data-bs-target="#sefi{{i.paper_id}}">
                                          evaluate
                                       </button>

                                       <!-- Modal -->
                                       <div class="modal fade" id="sefi{{i.paper_id}}" data-bs-backdrop="static"
                                          data-bs-keyboard="false" tabindex="-1" aria-labelledby="sefi{{i.paper_id}}"
                                          aria-hidden="true">
                                          <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                                             <div class="modal-content">
                                                <div class="modal-header">
                                                   <h5 class="modal-title" id="sefi{{i.paper_id}}">Evaluate</h5>
                                                   <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                      aria-label="Close"></button>
                                                </div>
                                                <!--<i class="fa fa-arrow-circle-down" aria-hidden="true"></i>-->
                                                <div class="modal-body">
                                                   <div class="row">
                                                      <form action="/evaluate_accept" method="POST">
                                                         <div class="form-floating mb-2">
                                                            <select class="form-select" aria-label="Default select example" name="evaluate">
                                                               <option selected>select one of this</option>

                                                               <option value="accept">accept</option>
                                                               <option value="reject">reject</option>

                                                          
                                                            </select>
                                                          <button type="button"name="submit_b" value="accept" data-bs-dismiss="modal"
                                                          class="btn btn-primary">Submit</button>
                                                  <!-- <p>To reject paper click on</p>
                                                   <button type="button" class="btn btn-danger" 
                                                         data-bs-dismiss="modal">Reject</button>-->
                                                </div>
                                                </form>
                                             </div>
                                          </div>
                                                <div class="modal-footer">
                                                   <button type="button" class="btn btn-secondary"
                                                      data-bs-dismiss="modal">Close</button>
                     
                                                </div>
                                             </div>
                                          </div>
                                       </div>
                                    </td>
                                    <td>{{i.comments}}</td>
                                   
                                 </tr>
                                 {% endfor %}
                              </tbody>
                           </table>
                        </div>
                     </div>
                  </div>
               </div>

            </div><!--
            <div class="tab-pane fade" id="accept" role="tabpanel" aria-labelledby="accept-tab">
               <h3 class="register-heading">Accepted papers</h3>
               <div class="tab-content" id="myTabContent">
                   <form method="GET" action="">
                        <div class="row register-form">
                           <div class="col-md-10">
                              <div class="form-group">
                                 <table class="table table-primary table-striped">
                                    <thead>
                                       <tr>
                                          <th scope="col">All Authors</th>
                                          <th scope="col">Accepted papers </th>
                                          <th scope="col">Accept/Reject</th>
                                          <th scope="col">Comments by Reviewers</th>
                                       </tr>
                                    </thead>
                                    <tbody>
                                       {% for i in data %}
                                       <tr>
                                          <td scope="row">{{i.firstname}} {{i.lastname}}</td>
                                       
                                          <td>{{i.point}} </td>
                                          <td>
                                        Button trigger modal 
                                             <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                                data-bs-target="#staticBackdrop{{i.paper_id}}">
                                                evaluate
                                             </button>
                                           
                                            
                                             <div class="modal fade" id="staticBackdrop{{i.paper_id}}" data-bs-backdrop="static"
                                                data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel"
                                                aria-hidden="true">
                                                <div class="modal-dialog">
                                                   <div class="modal-content">
                                                      <div class="modal-header">
                                                         <h5 class="modal-title" id="staticBackdropLabel">Evaluate</h5>
                                                         <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                            aria-label="Close"></button>
                                                      </div>
                                                      <div class="modal-body">
                                                         <p>To accept paper click on <i class="fa fa-arrow-circle-down" aria-hidden="true"></i></p>
                                                          <button type="button"  data-bs-dismiss="modal"
                                                                class="btn btn-primary">Accept</button> or
                                                         <p>To reject paper click on <i class="fa fa-arrow-circle-down" aria-hidden="true"></i></p>
                                                         <button type="button" class="btn btn-danger" 
                                                               data-bs-dismiss="modal">Reject</button>
                                                      </div>
                                                      <div class="modal-footer">
                                                         <button type="button" class="btn btn-secondary"
                                                            data-bs-dismiss="modal">Close</button>
                           
                                                      </div>
                                                   </div>
                                                </div>
                                             </div>
                                          </td>
                                          <td>{{i.comments}}</td>
                                          </td>
                                       </tr>
                                       {% endfor %}
                                    </tbody>
                                 </table>
                              </div>
                           </div>
                        </div>
                     </form>
      
                  </div>
   
               -->

          
            </div>


         </div>
      </div>

 
{% endblock %}