{% extends 'layout.html' %}
{% block title %} Chief editor page {% endblock %}
{% block content %}
<div class="container register">
   <div class="row">
      <div class="col-md-3 register-left">
         <img src="https://image.ibb.co/n7oTvU/logo_white.png" alt="" />
         <h3>Welcome</h3>
         <h1>to Chief editor page {{ firstname }} </h1>
      </div>
      <div class="col-md-9 register-right">
         <ul class="nav nav-tabs nav-justified" id="Tab" role="tablist">
            <li class="nav-item">
               <a class="nav-link" id="view-tab" data-toggle="tab" href="#view" role="tab" aria-controls="view"
                  aria-selected="true">View Papers</a>
            </li>
            <li class="nav-item">
               <a class="nav-link" id="add-tab" data-toggle="tab" href="#add" role="tab" aria-controls="add"
                  aria-selected="true">Add Paper</a>
            </li>
         </ul>
         <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="view" role="tabpanel" aria-labelledby="view-tab">
               <h3 class="register-heading">Review a paper</h3>
               <form method="GET" action="">
                  <div class="row register-form">
                     <div class="col-md-10">
                        <div class="form-group">
                           <table class="table table-primary table-striped">
                              <thead>
                                 <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Title</th>
                                    <th scope="col">interests</th>
                                    <th scope="col">see more</th>
                                    <th scope="col">papers status</th>
                                    <th scope="col">delete paper</th>
                                    <th scope="col">update paper</th>
                                 </tr>
                              </thead>
                              <tbody>
                                 {% for i in papers %}
                                 <tr>
                                    <th scope="row">{{ i.index }}</th>
                                    <td>{{ i.title }}</td>
                                    <td>{{ i.interest_name }}</td>
                            </tbody>
     
                        </div>
                    </div>
                    </div>  
            </div>
        </div>
        </div>
    </div>
</div>
{% endblock %}