{% extends 'layout.html' %}
{% block title %} sefi gardaw {% endblock %}
{% block content %}
<div class="container register">
   <div class="row">
      <div class="col-md-3 register-left">
         <img src="https://image.ibb.co/n7oTvU/logo_white.png" alt="" />
         <h3>Welcome</h3>
         <h1>to shief editor page {{ name }} </h1>
      </div>
      <div class="col-md-9 register-right">
         <ul class="nav nav-tabs nav-justified" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
               <a class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button"
                  role="tab" aria-controls="home" aria-selected="true">aLL Papers</a>
            </li>
            <li class="nav-item" role="presentation">
               <a class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button"
                  role="tab" aria-controls="profile" aria-selected="false">Accepted paper</a>
            </li>
         </ul>
         <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="view" role="tabpanel" aria-labelledby="view-tab">
               <h3 class="register-heading">Review a paper</h3>
               <form method="GET" action="">
                  <div class="row register-form">
                     <div class="col-md-10">
                        <div class="form-group">
                           <table class="table table-primary table-striped">
                              <thead>
                                 <tr>
                                    <th scope="col">All Authors</th>
                                    <th scope="col">Accepted papers </th>
                                    <th scope="col">Accept/Reject</th>
                                    <th scope="col">Comments by Reviewers</th>
                                 </tr>
                              </thead>
                              <tbody>
                                 {% for i in data %}
                                 <tr>
                                    <td> scope="row">{{i.firstname}} {{i.lastname}}</td>
                                    <td>{{i.point}}</td>
                                    <td>OK</td>
                                    <td>{{i.comments}}</td>
                        </td>
                        </tr>
                        {% endfor %}
                        </tbody>
                        </table>
                     </div>
                  </div>
                </div>
            </form>

         </div>
         <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
            <h3 class="register-heading">Add a paper</h3>
            <div class="col-md-9" style="margin: 20% 10%;">
               <form action="/submit_paper" method="POST" class="form-inline">
                  </div>
                  <button type="submit" class="btn btn-primary mb-2"
                     style="margin-bottom: 10px; margin-top: 10px; float: right;">Add</button>
               </form>
            </div>


         </div>
      </div>


   </div>
</div>
</div>
</div>
</div>
{% endblock %}