{% extends 'layout.html' %}
{% block title %} Authors page {% endblock %}
{% block content %}
<div class="container register">
   <div class="row">
      <div class="col-md-3 register-left">
         <img src="https://image.ibb.co/n7oTvU/logo_white.png" alt="" />
         <h3>Welcome</h3>
         <h3>to Author page {{ name }} {{lastname}} </h3>
      </div>
      <div class="col-md-9 register-right">
         <ul class="nav nav-tabs nav-justified" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
               <a class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button"
                  role="tab" aria-controls="home" aria-selected="true">Papers</a>
            </li>
            <li class="nav-item" role="presentation">
               <a class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button"
                  role="tab" aria-controls="profile" aria-selected="false">Add paper</a>
            </li>
         </ul>
         <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
               <form method="GET" action="">
                  <div class="row register-form">
                     <div class="col-md-10">
                        <div class="form-group">
                           {% with messages = get_flashed_messages() %}
                           {% if messages %}
                               {% for message in messages %}
                               <div class="container alert alert-info alert-dismissible fade show" role="alert">
                                   <strong>{{message}}</strong> 
                                   <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                 </div>   
       
                               {% endfor %}
                           {% endif %}{% endwith%}
                           <table class="table table-primary table-striped">
                              <thead>
                                 <tr>
                                    <th scope="col">Paper id</th>
                                    <th scope="col">Title</th>
                                    <th scope="col">Interests</th>
                                    <th scope="col">See more</th>
                                    <th scope="col">Papers status</th>
                                    <th scope="col">Delete paper</th>
                                    <th scope="col">Update paper</th>
                                 </tr>
                              </thead>
                              <tbody>
                                 {% for i in papers %}
                                 <tr>
                                    <th scope="row">{{i.paper_id}} </th>
                                    <td>{{ i.title }}</td>
                                    <td>{{ i.interest_name }}</td>
                                    <td>
                                       <!-- Button trigger modal -->
                                       <a type="button" class="btn btn-primary" data-bs-toggle="modal"
                                          data-bs-target="#staticBackdrop{{i.paper_id}}">
                                      See paper
                                       </a>
                                       <!-- Modal -->
                                       <div class="modal fade" id="staticBackdrop{{i.paper_id}}"
                                          data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
                                          aria-labelledby="staticBackdropLabel" aria-hidden="true">
                                          <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                                             <div class="modal-content">
                                                <div class="modal-header">
                                                   <h5 class="modal-title" id="staticBackdropLabel"></h5>
                                                   <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                      aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">
                                                   <figure class="text-center">
                                                      <blockquote class="blockquote">
                                                         <b>
                                                            <b>Author. </b> 
                                                            <p> {{name}} {{lastname}}</p>
                                                            <b>Title. </b> 
                                                            <p>{{i.title}}</p>
                                                         </b>
                                                         <p><b>Abstract.</b>{{i.abstract}}</p>
                                                         <b>Keywords. </b>   
                                                         <p>{{i.keywords}}</p>
                                                         <p><b> Body.</b>{{i.body}}</p>
                                                      </blockquote>
                                                      <figcaption class="blockquote-footer">
                                                      </figcaption>
                                                   </figure>
                                                </div>
                                                <div class="modal-footer">
                                                   <button type="button" class="btn btn-secondary"
                                                      data-bs-dismiss="modal">Close</button>
                                                </div>
                                             </div>
                                          </div>
                                       </div>
                                    </td>
                                    <td>
                                       <!-- Button trigger modal -->
                                       <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                          data-bs-target="#paperId{{i.paper_id}}">
                                       Open
                                       </button>
                                       <!-- Modal -->
                                       <div class="modal fade" id="paperId{{i.paper_id}}" data-bs-backdrop="static"
                                          data-bs-keyboard="false" tabindex="-1" aria-labelledby="statusLabel"
                                          aria-hidden="true">
                                          <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                                             <div class="modal-content">
                                                <div class="modal-header">
                                                   <h5 class="modal-title" id="statusLabel">{{i.title}}</h5>
                                                   <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                      aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">
                                                   <div class="col-md-10">
                                                      {% if i.paper_id in rate_list %}
                                                      <table class="table table-primary table-striped">
                                                         <thead>
                                                            <tr class="col-md-12">
                                                               <th scope="col">Status</th>
                                                               <th scope="col">Comments</th>
                                                            </tr>
                                                         </thead>
                                                         <tbody>
                                                            {% if rate_list[i.paper_id]['evaluate'] == 'accept' %}
                                                            <td>
                                                               <p class="text-success"> Accepted </p>
                                                            </td>
                                                            {% else %}
                                                            <td>
                                                               <p class="text-danger"> Rejected </p>
                                                            </td>
                                                            {% endif %}
                                                            <td>
                                                               {% for comment in
                                                               (rate_list[i.paper_id]['comments']).split(",") %}
                                                               <p> {{comment}} </p>
                                                               {% endfor %}
                                                            </td>
                                                         </tbody>
                                                      </table>
                                                      {% else %}
                                                      <h3 class="text-warning"> Not rating yet...</h3>
                                                      {% endif %}
                                                   </div>
                                                </div>
                                                <div class="modal-footer">
                                                   <button type="button" class="btn btn-secondary"
                                                      data-bs-dismiss="modal">Close</button>
                                                </div>
                                             </div>
                                          </div>
                                       </div>
                                    </td>
                                    <td>
                                       <a href="/delete_paper/{{i.paper_id}}" class="btn btn-danger btn-xs"
                                          onclick="return confirm('Are You Sure To Delete ?')">Delete</a>
                                    </td>
                                    <td>
                                       <a href="/update_papers/{{i.paper_id}}" class="btn btn-primary"
                                          data-bs-toggle="modal" data-bs-target="#updatePaper{{i.paper_id}}">
                                       Modify
                                       </a>
                                    </td>
                                    <div class="modal fade" id="updatePaper{{i.paper_id}}" data-bs-backdrop="static"
                                       data-bs-keyboard="false" aria-labelledby="staticBackdropLabel"
                                       aria-hidden="true">
                                       <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
               <form action="/update_papers" method="post">
               <div class="modal-content">
               <div class="modal-header">
               <h5 class="modal-title" id="staticBackdropLabel">Update paper
               {{i.paper_id}}</h5>
               <button type="button" class="btn-close" data-bs-dismiss="modal"
                  aria-label="Close"></button>
               </div>
               <div class="modal-body">
               <div class="mb-9">
               <label for="exampleInputEmail1" class="form-label">Title</label>
               <input type="form-text" required
                  class="form-control form-control-sm" name="title" id="title"
                  aria-describedby="titleHelp" value="{{i.title}}">
               </div>
               <div class="mb-9">
                  <label for="abstract" class="form-label">Abstract</label>
                  <input type="form-text" required
                     class="form-control form-control-sm" id="abstract"
                     name="abstract" aria-describedby="abstractHelp"
                     value="{{i.abstract}}">
                  </div>
               <div class="mb-9">
               <label for="keywords" class="form-label">Keywords</label>
               <input type="form-text" required
                  class="form-control form-control-sm" name="keywords"
                  id="keywords" aria-describedby="keywordsHelp"
                  value="{{i.keywords}}">
               </div>
               <div class="mb-9">
               <label for="body" class="form-label">Body</label>
               <input type="form-text" required
                  class="form-control form-control-sm" name="body" id="body"
                  aria-describedby="bodyHelp" value="{{i.body}}">
               </div>

               <!-- <button type="submit" class="btn btn-primary" name="paperID" value="{{i.paper_id}}" > ok</button> -->
               </div>
               <div class="modal-footer">
               <button type="button" class="btn btn-secondary"
                  data-bs-dismiss="modal">Close</button>
               <button type="submit" name="paperID" value="{{i.paper_id}}"
                  class="btn btn-primary">Update</button>
               </div>
               </form>
               </div>
               </div>
               </div>
               </td>
               </tr>
               {% endfor %}
               </tbody>
               </table>
               </div>
               </div>
               </div>
               </form>
            </div>
            <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
               <h3 class="register-heading">Add a paper</h3>
               
               <div class="col-md-9" style="margin: 20% 10%;">
                  <form action="/submit_paper" method="POST" class="form-inline">
                     <div class="form-group">
                        <label for="titleId">Title</label>
                        <input type="text" required class="form-control" id="titleId" placeholder="Title" name="title">
                     </div>
                     <div class="form-group">
                        <label for="keywordId">Keywords</label>
                        <input type="text" required class="form-control" id="keywordId" placeholder="Keywords"
                           name="keywords">
                     </div>
                     <div class="form-group">
                        <label for="selectId">Select interest</label>
                        <select class="form-control" id="selectId" name="interest_id">
                           {% for interest in interests %}
                           <option value="{{ interest.interest_id }}">{{ interest.interest_name }}</option>
                           {% endfor %}
                        </select>
                     </div>
                     <div class="form-group">
                        <label for="abstractId">Abstract</label>
                        <textarea class="form-control" id="abstractId" rows="7" name="abstract"
                           placeholder="Your abstract should not exceed 300 word"></textarea>
                     </div>
                     <div class="form-group">
                        <label for="bodyId">Body</label>
                        <textarea class="form-control" id="bodyId" rows="10" cols="50"
                           placeholder="Your body should not exceed 5000 word" name="body"></textarea>
                     </div>
                     <button type="submit" class="btn btn-primary mb-2"
                        style="margin-bottom: 10px; margin-top: 10px; float: right;">Add</button>
                  </form>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
</div>
</div>
{% endblock %}