{% extends 'layout.html' %}
{% block title %} Authors page {% endblock %}
{% block content %}


<div class="container register">
    <div class="row">
        <div class="col-md-3 register-left">
            <img src="https://image.ibb.co/n7oTvU/logo_white.png" alt="" />
            <h3>Welcome</h3>
             <h1>to Author page  {{ name }} </h1>
        </div>
        <div class="col-md-9 register-right">


            <ul class="nav nav-tabs nav-justified" id="Tab" role="tablist">

                <li class="nav-item">
                    <a class="nav-link" id="view-tab" data-toggle="tab" href="#view" role="tab"
                        aria-controls="view" aria-selected="true">View  Papers</a>
                </li>

          
                <li class="nav-item">
                    <a class="nav-link" id="add-tab" data-toggle="tab" href="#add" role="tab"
                        aria-controls="add" aria-selected="true">Add </a>
                </li>
            </ul>


        
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="view" role="tabpanel" aria-labelledby="view-tab">
                            <h3 class="register-heading">Review a paper</h3>
                            <form >
                                <div class="row register-form">
                                    <div class="col-md-6">
                                    
                                        <div class="form-group">
                                            <button class="btn btn-primary btnRegister">Log in</button>
                                        </div>
                                    </div>
        
                            </form>
                        </div>
                    </div>
                    
                    
                   
                    <div class="tab-pane fade show" id="add" role="tabpanel" aria-labelledby="add-tab">
                        <h3 class="register-heading">Add a paper</h3>
                        <form  action="/submit_paper" method="POST">
            
                            <div class="row register-form">
                                <div class="col-md-6">
            
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="Title" name="title">
                                    </div>
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="Topic" name="topic">
                                    </div>
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="Keywords" name="keyword">
                                    </div>
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="Abstract" name="abstract">
                                    </div>
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="Body" name="body">
                                    </div>
                                </div>
                              
     
                                    <div class="form-group">
                                        <button class="btn btn-primary btnRegister">Submit</button>
                                    </div>
                        </form>

                        



        </div>
    </div>
     
 
            </div>
        </div>
    </div>
    </div>


{% endblock %}
