{% extends 'layout.html' %}
{% block title %} Authors page {% endblock %}
{% block content %}
<div class="container register">
   <div class="row">
      <div class="col-md-3 register-left">
         <img src="https://image.ibb.co/n7oTvU/logo_white.png" alt="" />
         <h3>Welcome</h3>
         <h1>to Author page {{ name }} </h1>
      </div>
      <div class="col-md-9 register-right">
         <ul class="nav nav-tabs nav-justified" id="Tab" role="tablist">
            <li class="nav-item">
               <a class="nav-link" id="view-tab" data-toggle="tab" href="#view" role="tab" aria-controls="view"
                  aria-selected="true">View Papers</a>
            </li>
            <li class="nav-item">
               <a class="nav-link" id="add-tab" data-toggle="tab" href="#add" role="tab" aria-controls="add"
                  aria-selected="true">Add Paper</a>
            </li>
         </ul>
         <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="view" role="tabpanel" aria-labelledby="view-tab">
               <h3 class="register-heading">Review a paper</h3>
               <form method="GET" action="">
                  <div class="row register-form">
                     <div class="col-md-10">
                        <div class="form-group">
                           <table class="table table-primary table-striped">
                              <thead>
                                 <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Title</th>
                                    <th scope="col">interests</th>
                                    <th scope="col">see more</th>
                                    <th scope="col">see your papers status</th>
                                 </tr>
                              </thead>
                              <tbody>
                                 {% for i in papers %}
                                 <tr>
                                    <th scope="row">{{ i.index }}</th>
                                    <td>{{ i.title }}</td>
                                    <td>{{ i.interest_name }}</td>
                                    <td>
                                       <!-- Button trigger modal -->
                                       <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                          data-bs-target="#staticBackdrop{{i.id}}">
                                          more
                                       </button>
                                       <!-- Modal -->
                                       <div class="modal fade" id="staticBackdrop{{i.id}}" data-bs-backdrop="static"
                                          data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel"
                                          aria-hidden="true">
                                          <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                                             <div class="modal-content">
                                                <div class="modal-header">
                                                   <h5 class="modal-title" id="staticBackdropLabel"></h5>
                                                   <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                      aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">
                                                   <figure class="text-center">
                                                      <blockquote class="blockquote">
                                                         <b>
                                                            <p>{{i.body}}</p>
                                                         </b>
                                                         <p><b>Abstract.</b>{{i.abstract}}</p>
                                                         <p><b> body.</b>{{i.body}}</p>
                                                      </blockquote>
                                                      <figcaption class="blockquote-footer">
                                                      </figcaption>
                                                   </figure>
                                                </div>
                                                <div class="modal-footer">
                                                   <button type="button" class="btn btn-secondary"
                                                      data-bs-dismiss="modal">Close</button>
                                                </div>
                                             </div>
                                          </div>
                                       </div>
                                    </td>
                                    <td>
                                       <!-- Button trigger modal -->
                                       <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                          data-bs-target="#staticBackdrop">
                                          more
                                       </button>
                                       <!-- Modal -->
                                       <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static"
                                          data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel"
                                          aria-hidden="true">
                                          <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                                             <div class="modal-content">
                                                <div class="modal-header">
                                                   <h5 class="modal-title" id="staticBackdropLabel"></h5>
                                                   <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                      aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">
                                                   <table class="table table-primary table-striped">
                                                      <thead>
                                                         <tr>
                                                            <th scope="col">#</th>
                                                            <th scope="col danger">Accepted</th>
                                                            <th scope="col">Rejected</th>
                                                            <th scope="col">Pending</th>
                                                            <th scope="col">Comments</th>
                                                         </tr>
                                                      </thead>
                                                   </table>
                                                </div>
                                                <div class="modal-footer">
                                                   <button type="button" class="btn btn-secondary"
                                                      data-bs-dismiss="modal">Close</button>
                                                </div>
                                             </div>
                                          </div>
                                       </div>
                                    </td>
                                 </tr>
                                 {% endfor %}
                              </tbody>
                           </table>
                        </div>
                     </div>
               </form>
            </div>
         </div>



         <div   class="tab-pane fade show" id="add" role="tabpanel" aria-labelledby="add-tab">
            <h3 class="register-heading">Add a paper</h3>
            
            <div class="col-md-9" style="margin: 20% 10%;">
               <form action="/submit_paper" method="POST" class="form-inline">
                  <div class="form-group">
                     <label for="titleId">keywords</label>
                     <input type="text" class="form-control" id="titleId" placeholder="Title" name="title">
                  </div>
                  <div class="form-group">
                     <label for="keywordId">Keywords</label>
                     <input type="text" class="form-control" id="keywordId" placeholder="Keywords" name="keywords">
                  </div>
                  <div class="form-group">
                     <label for="selectId">Select interest</label>
                     <select class="form-control" id="selectId" name="interest_id">
                        {% for interest in interests %}
                        <option value="{{ interest.interest_id }}">{{ interest.interest_name }}</option>
                        {% endfor %}
                     </select>
                  </div>
   
                  <div class="form-group">
                     <label for="abstractId">Abstract</label>
                     <textarea class="form-control" id="abstractId" rows="7" name="abstract"
                        placeholder="Your abstract shoud not exceed 300word"></textarea>
                  </div>
                  <div class="form-group">
                     <label for="bodyId">Example textarea</label>
                     <textarea class="form-control" id="bodyId" rows="10" cols="50"
                        placeholder="Your body shoud not exceed 5000word" name="body"></textarea>
                  </div>
                  <button type="submit" class="btn btn-primary mb-2" style="margin-bottom: 10px; margin-top: 10px; float: right;">Add</button>
               </form>
            </div>
            

         </div>
      </div>
   </div>
</div>
</div>
</div>
{% endblock %}