{% extends 'layout.html' %}
{% block title %} sefi gardaw {% endblock %}
{% block content %}
<div class="container register">
   <div class="row">
      <div class="col-md-3 register-left">
         <img src="https://image.ibb.co/n7oTvU/logo_white.png" alt="" />
         <h1>Welcome</h1>
         <h1>to Chief Editor page {{ name }} </h1>
      </div>
      <div class="col-md-9 register-right">
         <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="all" role="tabpanel" aria-labelledby="all-tab">
               <h3 class="register-heading">All Papers</h3>
               <form method="GET" action="">
                  <div class="row register-form">
                     <div class="col-md-10">
                        <div class="form-group">
                           <table class="table table-primary table-striped">
                              <thead>
                                 <tr>
                                    <th scope="col">All Authors</th>
                                    <th scope="col">Accepted papers </th>
                                    <th scope="col">Accept/Reject</th>
                                    <th scope="col">Comments by Reviewers</th>
                                 </tr>
                              </thead>
                              <tbody>
                                 {% for i in data %}
                                 <tr>
                                    <td scope="row">{{i.firstname}} {{i.lastname}}</td>
                                    <td>
                                       <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                          data-bs-target="#moreModal{{i.paper_id}}">
                                          more
                                       </button>
                                    </td>
                                    <div class="modal fade" id="moreModal{{i.paper_id}}" data-bs-backdrop="static"
                                    data-bs-keyboard="false" tabindex="-1" aria-labelledby="moreLabel"
                                    aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                                       <div class="modal-content">
                                          <div class="modal-header">
                                             <h5 class="modal-title" id="moreLabel"><b></b></h5>
                                             <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                          </div>
                                          <div class="modal-body">
                                             <figure class="text-center">
                                                <blockquote class="blockquote">
                                                  
                                                  <b>   Title. </b> <p>{{papers_data[i.paper_id].title}}</p>
                                                     <b>Author.</b>  <cite title="Source Title">{{i.firstname}} {{i.lastname}}</cite>
                                                   </b>
                                                   <p><b>Keywords. </b>{{papers_data[i.paper_id].keywords}}</p>
                                                   <p><b>Abstract. </b>{{papers_data[i.paper_id].abstract}}</p>
                                                   <p><b> Body. </b>{{papers_data[i.paper_id].body}}</p>
                                                </blockquote>
                                                <figcaption class="blockquote-footer">
                                                </figcaption>
                                             </figure>
                                          </div>
                                          <div class="modal-footer">
                                             <button type="button" class="btn btn-secondary"
                                                data-bs-dismiss="modal">Close</button>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                                    <td>
                                       {% if not final_status[i.paper_id] %}
                                       <a href="/evaluate_accept/{{i.paper_id}}" class="btn btn-primary"
                                          data-bs-toggle="modal" data-bs-target="#exampleModal{{i.paper_id}}">
                                          Evaluate
                                       </a>
                                       {% endif %}


                                       {% if final_status[i.paper_id] %}
                                       {% if final_status[i.paper_id] == "accept" %}
                                       <p class="text-success">accepted</p>
                                       {% else %}
                                       <p class="text-danger">rejected</p>
                                       {% endif %}
                                       {% endif %}



                                       <div class="modal fade" id="exampleModal{{i.paper_id}}" tabindex="-1"
                                          aria-labelledby="exampleModalLabel" aria-hidden="true">
                                          <div class="modal-dialog">
                                             <div class="modal-content">
                                                <div class="modal-header">
                                                   <h5 class="modal-title" id="exampleModalLabel">Evaluate</h5>
                                                   <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                      aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">
                                                   <form action="/evaluate_accept" method="post">
                                                      <div class="mb-3">
                                                         <label for="disabledSelect" class="form-label">Set status</label>
                                                         <select id="disabledSelect" class="form-select"
                                                            name="evaluate">
                                                            <option value="accept" selected>Accept</option>
                                                            <option value="reject">Reject</option>
                                                         </select>
                                                         <input style="display: none;" type="text"
                                                            value="{{i.paper_id}}" name="paper_id" />
                                                         <input style="display: none;" type="text"
                                                            value="{{i.author_id}}" name="author_id" />
                                                      </div>

                                                      <button type="button" class="btn btn-secondary"
                                                         data-bs-dismiss="modal">Close</button>
                                                      <!-- <button type="submit" class="btn btn-primary">Submit</button> -->

                                                      <button type="submit" class="btn btn-primary mb-2"
                                                         style="margin-bottom: 10px; margin-top: 10px; float: right;">Add</button>
                                                   </form>
                                                </div>
                                             </div>
                                          </div>
                                       </div>
                                   </td>
                                 <td>  ({{i.point}}total points)    {% for comment in i.comments.split(',') %} 
                                   <p> {{comment}}    </p>                              
                                      {% endfor%}
                                
                                    </td> 

                                    </td>
                                 </tr>
                                 {% endfor %}
                              </tbody>
                           </table>
                        </div>
                     </div>
                  </div>
               </form>
            </div>
         </div>


      </div>
   </div>
</div>
</div>
</div>
{% endblock %}