{% extends 'layout.html' %}
{% block title %} Home {% endblock %}
{% block content %}
{% if session['name'] %}
<h1>  Welcome {{ session['name'] }}</h1>
<div class="container" style="margin: 50px;
   background-color: #c4dff3;">
   
   <div class="row">     

      <div class="col-md-12 col-md-offset-3">

         <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
               <a class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" href="#nav-home" role="tab"
                  aria-controls="nav-home" aria-selected="true">Add</a>
               <a class="nav-link" id="nav-viewreviewers-tab" data-bs-toggle="tab" href="#nav-viewreviewers" role="tab"
                  aria-controls="nav-viewreviewers" aria-selected="false">View Rewievers</a>
               <a class="nav-link" id="nav-viewauthors-tab" data-bs-toggle="tab" href="#nav-viewauthors" role="tab"
                  aria-controls="nav-viewauthors" aria-selected="false">View Authors</a>
               <a class="nav-link" id="nav-viewpapers-tab" data-bs-toggle="tab" href="#nav-viewpapers" role="tab"
                  aria-controls="nav-viewpapers" aria-selected="false">View all papers</a>

                  <a class="nav-link" id="nav-chief-tab" data-bs-toggle="tab" href="#nav-chief" role="tab"
                  aria-controls="nav-chief" aria-selected="false">Add chief editor</a>
            </div>
         </nav>
         <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
               <form action="/rewievers" method="POST">
                  <div class="mb-3">
                     <label for="exampleInputEmail1" class="form-label">Username</label>
                     <input type="form-text" name="username" class="form-control form-control-sm" id="username"
                        aria-describedby="usernameHelp">
                  </div>
                  <div class="mb-3">
                     <label for="exampleInputEmail1" class="form-label">First Name</label>
                     <input type="form-text" class="form-control form-control-sm" name="firstname" id="firstname"
                        aria-describedby="firstnameHelp">
                  </div>

                  <div class="mb-3">
                     <label for="exampleInputEmail1" class="form-label">lastname</label>
                     <input type="form-text" class="form-control form-control-sm" name="lastname" id="lastname"
                        aria-describedby="lastnameHelp">
                  </div>


                  <div class="mb-3">
         
                        <select class="form-select" aria-label="Default select example" name="interests">
                            <option selected>select interest</option>
                            <option value="UAV">UAV</option>
                            <option value="WSN">WSN</option>
                            <option value="football">FOOTBALL</option>
                            <option value="database">database</option>
                            <option value="SOFTWARE ENGINEERING">SOFTWARE ENGINEERING</option>
                            <option value="Cloud computing">Cloud computing</option>

                          </select>
  
                  </div>
                  <div class="mb-3">
                     <label for="exampleInputEmail1" class="form-label">Email address</label>
                     <input type="email" class="form-control form-control-sm" id="email" name="email"
                        aria-describedby="emailHelp">
                  </div>
                  <div class="mb-3">
                     <label for="exampleInputPassword1" class="form-label">Password</label>
                     <input type="password" class="form-control form-control-sm" id="password" name="password">
                  </div>
                  <button type="submit" class="btn btn-primary">Register</button>
               </form>
            </div>

            <div class="tab-pane fade" id="nav-viewreviewers" role="tabpanel" aria-labelledby="nav-viewreviewers-tab">

               <table class="table">
                  <thead>
                     <tr>
                        <th scope="col">#</th>
                        <th scope="col">Firstname</th>
                        <th scope="col">Lastname</th>
                        <th scope="col">Edit</th>
                        <th scope="col">Delete</th>
                     </tr>
                  </thead>
                  <tbody>
                     {% for i in data %}
                     <tr>
                        <th scope="row">{{ i.id }}</th>
                        <td>{{ i.firstname }}</td>
                        <td>{{ i.lastname }}</td>

                        <td>

                           <a href="/update_rewiever/{{i.id}}" class="btn btn-primary" data-bs-toggle="modal"
                              data-bs-target="#exampleModal{{i.id}}">
                              Edit
                           </a>
                        </td>

                        <td>
                           <a href="/delete_rewiever/{{i.id}}" class="btn btn-danger btn-xs"
                              onclick="return confirm('Are You Sure To Delete ?')">Delete</a>
                        </td>
                     </tr>
                     <!-- modal  -->
                     <div class="modal fade" id="exampleModal{{i.id}}" tabindex="-1" aria-labelledby="exampleModalLabel"
                        aria-hidden="true">
                        <div class="modal-dialog">
                           <div class="modal-content">
                              <div class="modal-header">
                                 <h5 class="modal-title" id="exampleModalLabel">Update reviewer</h5>
                                 <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                              </div>
                              <div class="modal-body">
                                 <form action="{{ url_for('update_rewiever', id=i.id) }}" method="POST">
                                    <div class="mb-3">
                                       <label for="exampleInputEmail1" class="form-label">Username</label>
                                       <input type="form-text" name="username" class="form-control form-control-sm"
                                          id="username" aria-describedby="usernameHelp" value="{{i.username}}">
                                    </div>
                                    <div class="mb-3">
                                       <label for="exampleInputEmail1" class="form-label">First Name</label>
                                       <input type="form-text" class="form-control form-control-sm" name="firstname"
                                          id="firstname" aria-describedby="firstnameHelp" value="{{i.firstname}}">
                                    </div>

                                    <div class="mb-3">
                                       <label for="exampleInputEmail1" class="form-label">lastname</label>
                                       <input type="form-text" class="form-control form-control-sm" name="lastname"
                                          id="lastname" aria-describedby="lastnameHelp" value="{{i.lastname}}">
                                    </div>


                                    <div class="mb-3">
                                       <label for="exampleInputEmail1" class="form-label">interests</label>
                                       <input type="form-text" class="form-control form-control-sm" name="interests"
                                          id="interests" aria-describedby="interestsnHelp" value="{{i.interests}}">
                                    </div>
                                    <div class="mb-3">
                                       <label for="exampleInputEmail1" class="form-label">Email address</label>
                                       <input type="email" class="form-control form-control-sm" id="email" name="email"
                                          aria-describedby="emailHelp" value="{{i.email}}">
                                    </div>
                                    
                                    <div class="modal-footer">
                                       <button type="button" class="btn btn-secondary"
                                          data-bs-dismiss="modal">Close</button>
                                       <button type="submit" class="btn btn-primary">Update</button>
                                    </div>
                                 </form>
                              </div>

                           </div>
                        </div>
                     </div>
                     <!-- modal end  -->
                     {% endfor %}
                  </tbody>

               </table>
            </div>




            <div class="tab-pane fade" id="nav-modifyreviewers" role="tabpanel"
               aria-labelledby="nav-modifyreviewers-tab">...3</div>
            <div class="tab-pane fade" id="nav-viewauthors" role="tabpanel" aria-labelledby="nav-viewauthors-tab">



              
               <table class="table">
                  <thead>
                     <tr>
                        <th scope="col">#</th>
                        <th scope="col">Firstname</th>
                        <th scope="col">Lastname</th>
                        <th scope="col">Email</th>

                     </tr>
                  </thead>
                  <tbody>
                   {% for i in authors %}
                     <tr>
                        <th scope="row">{{ i.id }}</th>
                        <td>{{ i.firstname }}</td>
                        <td>{{ i.lastname }}</td>
                        <td>{{ i.email }}</td>
                        <td><form method="get" action="/direct">
                           <button type="submit">make reviewer</button>
                       </form>
                     </tr>
                
                  </tbody>
 {% endfor %}

               </table>




               <a href="../templates/home.html">make reviewer</a>
            </div>


 

            <div class="tab-pane fade" id="nav-viewpapers" role="tabpanel" aria-labelledby="nav-viewpapers-tab">
               <table class="table">
                  <thead>
                     <tr>
                        <th scope="col">#</th>
                        <th scope="col">title</th>
                        <th scope="col">interests</th>

                     </tr>
                  </thead>
                  <tbody>
                     {% for i in papers %}
                     <tr>
                        <th scope="row">{{ i.id }}</th>
                        <td>{{ i.title }}</td>
                        <td>{{ i.interests }}</td>
   
      
                     </tr>
                
                  </tbody>
      {% endfor %}
      
               </table>
            </div>
         
            <div class="tab-pane fade" id="nav-chief" role="tabpanel" aria-labelledby="nav-chief-tab">
               {% if chief_editor  %}
               <h1> We have chief editor .... </h1>
               {% else %}
               <form action="/chief_editor" method="POST">
                  <div class="mb-3">
                     <label for="exampleInputEmail1" class="form-label">First Name</label>
                     <input type="form-text" class="form-control form-control-sm" name="firstname" id="firstname"
                        aria-describedby="firstnameHelp">
                  </div>
   
                  <div class="mb-3">
                     <label for="exampleInputEmail1" class="form-label">Lastname</label>
                     <input type="form-text" class="form-control form-control-sm" name="lastname" id="lastname"
                        aria-describedby="lastnameHelp">
                  </div>
   
                  <div class="mb-3">
                     <label for="exampleInputEmail1" class="form-label">Email address</label>
                     <input type="email" class="form-control form-control-sm" id="email" name="email"
                        aria-describedby="emailHelp">
                  </div>
                  <div class="mb-3">
                     <label for="exampleInputPassword1" class="form-label">Password</label>
                     <input type="password" class="form-control form-control-sm" id="password" name="password">
                  </div>
                  <button type="submit" class="btn btn-primary">Register</button>
               </form>
               {% endif %}


            </div>
         </div>


         

         {% else %}
  you need to log in in order to see all information

         {% endif %}
      </div>
   </div>
</div>



{% endblock %}