{% extends 'layout.html' %}
{% block title %} sefi gardaw {% endblock %}
{% block content %}
<div class="container text-light ">
   <div class="row">
      <div class="col-md-3 register-left">


      </div class="container m-3">
          

          <h1>Instructions for Authors</h1>  
            <p>
                prospective authors are invited to submit papers to 2021 International Conference on Computer Systems and Networking 2021-ICCS 
                Each paper must be original and unpublished work, not submitted for publication elsewhere (copyright problems fall entirely under responsibility of the authors).
                Each paper will be reviewed by at least three experts in the relevant field ensuring the publication of only top-quality contributions.
                Submission of a paper should be regarded as an undertaking that, should the paper be accepted, at least one of the authors should register and present orally the paper in the conference. Failure to do so shall lead to rejection of the application to attend next year conference and the exclusion of the paper for the current year proceedings.

                </p>
            
             <h1>                Paper Submission

                </h1>
            
 <p>                The submission of contributions to 2021-ICCS should be Formatted using IEEE template. The author is requested to strictly conform to the template.
    Conference Registration
    Since the publication of the Papers in the Proceedings is subject to the Conference Registration and payment of the fee, all authors are kindly request to Register to the Conference before the deadline, in order to facilitate a smooth Proceedings preparation process.
    We recommend paying the fee by Credit Card, which is the fastest and more reliable payment channel.</p>
            
           <h3>Good luck with your conference!</h3> 
            

         </div>
      </div>


   </div>
</div>
</div>
</div>
</div>
{% endblock %}