{% extends 'layout.html' %}
{% block title %} sefi gardaw {% endblock %}
{% block content %}
<div class="container text-light ">
   <div class="row">
      <div class="col-md-3 register-left">


      </div class="container m-3">
          

          <h1>How to Organise a Conference: Step-By-Step Guide</h1>  

           <h5> So you’ve decided to organise a conference. Quite a task!
        </h5>
            
           <p>You should start planning the conference at least six months prior to the date. (For larger conference, the planning might start a year in advance.) You’ll be keeping track of a lot of moving parts.
            
            
            You must have a million questions on your mind. Where do you start? How do you find the right speakers to invite? Which venue will best suit your needs?
            
            
            Not to worry.
            
            
            The truth is, even though organising a conference is a demanding endeavour, you’re not the first one to face it. There’s no need to reinvent the wheel. It’s all about following a few specific steps.
            
            
            We’ve prepared this top-level guide on how to organise a conference. It’ll walk you through the main steps involved and link you over to valuable tools and articles that will make your job a lot easier. The steps aren’t strictly chronological---you may well start contacting potential speakers before you’ve secured a venue---but they give you a rough idea of what to focus on first.
            
            
            Ready to start arranging that conference?
            
        </p> 
            
           <h2> Step 1: Decide on a theme</h2>
            
           <p> Every great conference needs a theme. What’s the unifying message that your speakers will deliver and what’s the key takeaway for conference attendees?
            
            
            The best themes are catchy, relatable, and trigger an emotional response. You want the conference to inspire and stimulate conversation. Your theme has to enable that.
            
            
            For instance, “Stronger as a team” is probably a better theme than “Achieving improved efficiencies through increased cross-functional collaboration.”
            
            
            The theme is more than just a rallying cry for all participants; it will also guide your branding and promotion, from designing a logo to coming up with social media hashtags to printing your posters, brochures, and other collateral.
        </p>
            
            Further reading & tools
            A fantastic guide from TED: Create a theme
            A great idea list to help with brainstorm: 127 themes & concepts for your next corporate event
            
            Step 2: Assemble your A-team
            
            Chances are, you won’t be organising a whole conference all by yourself. (In fact, we’d be shocked if that were the case.)
            
            
            You’ll need a dedicated team of people to assume responsibility for different aspects of the planning, negotiations, and promotion. Your core team will likely include:
            
            Planning team: Conference venue, accommodation, activities, catering.
            Administration team: Budgeting, attendee registration, ticket sales. This team/person will also be the main point of contact for questions related to the conference.
            Marketing team: Contacting the media, creating promotional material, managing your website, blog, and social media activities.
            Sponsorships team: In charge of securing sponsors, applying for grants, and fundraising. (Only relevant for conferences that rely on external sources of finance. Obviously)
            Volunteers: Helping with all on-site activities on the day of the conference: door management, ticket scanning, keeping track of the guest list, manning the wardrobe, guiding people, etc.
            Your main job will be to coordinate the team, set priorities, and delegate tasks.
            
            
        
            
          <h1>Step 4: Find sponsors & grants [optional]</h1>  
            
            If you’re financing the conference on your own and are not looking for external sources of revenue, you can safely skip this step.
            
            
            If not, you’ll want to go out looking for sponsors or arrange fundraisers. The key thing to keep in mind is that the sponsors and their values should align with the theme of your conference. (Would you want McDonald’s to sponsor your “Let’s Get Fit” conference?)
            
            
            Start by finding sponsors that fund similar events or are generally associated with your conference’s main themes.
            
            
            Decide how much say the sponsors should have in how the conference is run. Will you allow their branding and logo on every piece of equipment? Will they be able to bring in their own speakers?
            
            
            Remember: It’s a fine balance between getting funded and sacrificing the integrity of your conference. You’re the judge of where to draw that line.
            
            
            Further reading & tools
            Excellent guide on approaching sponsors: How to reach out to sponsors
            Marketplace for finding sponsors: SponsorMyEvent
            
             <h1>Step 5: Settle on a date</h1>
            
            Now it’s time to decide when your conference will take place. As discussed, that date should be anywhere from six months to a year ahead.
            
            
            You also need to find out how long the conference will last. Industry consensus suggests that a conference with around 300 participants calls for two full days. Larger, more in-depth conferences may stretch for even longer.
            
            
            Here are some great rules of thumb to keep in mind:
            
            Pick a date that doesn’t conflict with other major events like festivals. City-wide events make booking flights more expensive and generally hinder transportation to and from the conference. Besides, you don’t want your conference to compete for attention with big events.
            Avoid summer and winter holiday periods when people tend to go on vacation. It’s best to aim for a date between the middle of March and end of June or from early September to late November.
            Never plan a conference during the weekend. For most participants, attending a conference is a part of their job, so schedule it during the workweek.
            Try to aim for the end of the week, so that traveling attendees get the chance to stay behind and sightsee during their time off. The best days for a conference are Thursday and Friday.
            Setting a date will give you a fixed point to count back from to better plan your preparations.
            
            

            You should follow up with all the people involved: your team, speakers, volunteers, vendors, and---of course---the attendees. You want to follow up for two main reasons:
            
            Say "Thank you": You should thank everyone for their participation and efforts. Not only is this a common courtesy but you’ll also get to leave a positive impression. There’s a good chance this isn’t your last conference, so you want to nurture any connections you’ve made.
            Collect feedback: This is the perfect opportunity to hear what people thought of the conference and what could be done better in the future.
            The easiest way to gather input is to email everyone a link to an online survey. Keep it relatively short and focus on a few main themes: What did they like the most about the conference? How would they rate the different elements (presentations, refreshments, accommodation, etc.)? What would they change or improve?
            
            
            Try to follow up within a few days at most, while the conference is still fresh in everyone’s mind. People have busy schedules and a limited attention span, so don’t wait too long to get in touch.
            
            
            Further reading & tools
            Top-level tips on gathering audience feedback: Evaluating the Conference Experience: How to Get Useable Feedback From Your Delegates
            Specific questions to ask: 5 Questions to Include in Your Post-Event Survey
            
           <h3>Good luck with your conference!</h3> 
            
            <h4>You now have a much better on idea on how to organise a conference and what key steps are involved.</h4>
            
           <h2> It’s time to set the wheels in motion. We know you can do it!</h2>
            
            
         </div>
      </div>


   </div>
</div>
</div>
</div>
</div>
{% endblock %}