{% extends 'layout.html' %}

{% block title %} Login {% endblock %}

{% block content %}



<div class="container register">
    <div class="row">
        <div class="col-md-3 register-left">
            <img src="https://image.ibb.co/n7oTvU/logo_white.png" alt="" />
            <h3>In order to continue</h3>
            <h4>Login</h4>
        </div>
        <div class="col-md-6 register-right">
            <ul class="nav nav-tabs nav-justified" style="width: 300pt;height:25pt ;" id="Tab" role="tablist">
                <li class="nav-item" role="presentation">
                    <a class="nav-link active" id="admin-tab" data-bs-toggle="tab" data-bs-target="#admin" type="button"
                        role="tab" aria-controls="admin" aria-selected="true">Admin</a>
                </li>

                <li class="nav-item" role="presentation">
                    <a class="nav-link" id="reviewer-tab" data-bs-toggle="tab" data-bs-target="#reviewer" type="button"
                        role="tab" aria-controls="reviewer" aria-selected="false">Reviewer</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link" id="author-tab" data-bs-toggle="tab" data-bs-target="#author" type="button"
                        role="tab" aria-controls="author" aria-selected="false">Author</a>
                </li>

                <li class="nav-item" role="presentation">
                    <a class="nav-link" id="chief_editor-tab" data-bs-toggle="tab" data-bs-target="#chief_editor"
                        type="button" role="tab" aria-controls="chief_editor" aria-selected="false">Chief Editor</a>
                </li>
            </ul>

            <div class="tab-content" id="myTabContent">

                <div class="tab-pane fade show active" id="admin" role="tabpanel" aria-labelledby="admin-tab">
                    <h3 class="login-heading" style="margin-top: 15%;text-align: center;">Login as an Admin</h3>
                    <form action="/login" method="POST">
                        <div class="row register-form">
                            <div class="col-md-12 col-lg-12 col-xl-12">

                                <div class="mb-3">
                                    <label for="exampleInputEmail1" class="form-label">Email address</label>
                                    <input type="email" required class="form-control" placeholder="Email" value=""
                                        name="email" id="exampleInputEmail1" />
                                    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <label for="exampleInputPassword1" class="form-label">Password</label>
                                    <input required type="password" class="form-control" placeholder="Password" value=""
                                        name="password" id="exampleInputPassword1" />
                                </div>

                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                        </div>

                    </form>
                </div>



                <div class="tab-pane fade show" id="reviewer" role="tabpanel" aria-labelledby="reviewer-tab">
                    <h3 class="login-heading" style="margin-top: 15%;text-align: center;">Log in as an Reviewer</h3>
                    <form action="/login_reviewer" method="POST">

                        <div class="row register-form">
                            <div class="col-md-12">

                                <div class="mb-3">
                                    <label for="exampleInputEmail1" class="form-label">Email address</label>
                                    <input type="email" required class="form-control" placeholder="Email" value=""
                                        name="email" id="exampleInputEmail1" />
                                    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <label for="exampleInputPassword1" class="form-label">Password</label>
                                    <input type="password" required class="form-control" placeholder="Password" value=""
                                        name="password" id="exampleInputPassword1" />
                                </div>

                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                        </div>

                    </form>

                </div>


                <div class="tab-pane fade show" id="author" role="tabpanel" aria-labelledby="author-tab">
                    <h3 class="login-heading" style="margin-top: 15%;text-align: center;">Log in as an Author</h3>
                    <form action="/login_author" method="POST">

                        <div class="row register-form">
                            <div class="col-md-12">

                                <div class="mb-3">
                                    <label for="exampleInputEmail1" class="form-label">Email address</label>
                                    <input type="email" required class="form-control" placeholder="Email" value=""
                                        name="email" id="exampleInputEmail1" />
                                    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <label for="exampleInputPassword1" class="form-label">Password</label>
                                    <input type="password" required class="form-control" placeholder="Password" value=""
                                        name="password" id="exampleInputPassword1" />
                                </div>

                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>

                <div class="tab-pane fade show" id="chief_editor" role="tabpanel" aria-labelledby="chief_editor-tab">
                    <h3 class="login-heading" style="margin-top: 15%;text-align: center;">Log in as a Chief Editor</h3>
                    <form action="/login_chief_editor" method="POST">

                        <div class="row register-form">
                            <div class="col-md-12">

                                <div class="mb-3">
                                    <label for="exampleInputEmail1" class="form-label">Email address</label>
                                    <input type="email" required class="form-control" placeholder="Email" value=""
                                        name="email" id="exampleInputEmail1" />
                                    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <label for="exampleInputPassword1" class="form-label">Password</label>
                                    <input type="password" required class="form-control" placeholder="Password" value=""
                                        name="password" id="exampleInputPassword1" />
                                </div>

                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                        </div>

                    </form>

                </div>

            </div>


        </div>
    </div>
</div>

</div>



{% endblock %}