{% extends 'layout.html' %}

{% block title %} Login {% endblock %}

{% block content %}



<div class="container register">
    <div class="row">
        <div class="col-md-3 register-left">
            <img src="https://image.ibb.co/n7oTvU/logo_white.png" alt="" />
            <h3>In order to continue</h3>
           <h4>Login</h4>
        </div>
        <div class="col-md-9 register-right">
            <ul class="nav nav-tabs nav-justified" id="Tab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link" id="admin-tab" data-toggle="tab" href="#admin" role="tab" aria-controls="admin"
                        aria-selected="true"> Admin</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " id="reviewer-tab" data-toggle="tab" href="#reviewer" role="tab"
                        aria-controls="reviewer" aria-selected="true"> Reviewer</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="author-tab" data-toggle="tab" href="#author" role="tab"
                        aria-controls="author" aria-selected="true"> Author</a>
                </li>
            </ul>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="admin" role="tabpanel" aria-labelledby="admin-tab">
                    <h3 class="register-heading">Log in as an admin</h3>
                    <form action="/login" method="POST">
                        <div class="row register-form">
                            <div class="col-md-6">

                                <div class="mb-3">
                                    <label for="exampleInputEmail1" class="form-label">Email address</label>
                                    <input type="email" class="form-control" placeholder="Email" value="" name="email"
                                        id="exampleInputEmail1" />
                                    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <label for="exampleInputPassword1" class="form-label">Password</label>
                                    <input type="password" class="form-control" placeholder="Password" value=""
                                        name="password" id="exampleInputPassword1" />
                                </div>

                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                        </div>

                    </form>
                </div>



                <div class="tab-pane fade show" id="reviewer" role="tabpanel" aria-labelledby="reviewer-tab">
                    <h3 class="register-heading">Log in as an Reviewer</h3>
                    <form action="/login_reviewer" method="POST">

                        <div class="row register-form">
                            <div class="col-md-6">

                                <div class="mb-3">
                                    <label for="exampleInputEmail1" class="form-label">Email address</label>
                                    <input type="email" class="form-control" placeholder="Email" value="" name="email"
                                        id="exampleInputEmail1" />
                                    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <label for="exampleInputPassword1" class="form-label">Password</label>
                                    <input type="password" class="form-control" placeholder="Password" value=""
                                        name="password" id="exampleInputPassword1" />
                                </div>

                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                        </div>


                    </form>

                </div>


                <div class="tab-pane fade show" id="author" role="tabpanel" aria-labelledby="author-tab">
                    <h3 class="register-heading">Log in as an Author</h3>
                    <form action="/login_author" method="POST">

                        <div class="row register-form">
                            <div class="col-md-6">

                                <div class="mb-3">
                                    <label for="exampleInputEmail1" class="form-label">Email address</label>
                                    <input type="email" class="form-control" placeholder="Email" value="" name="email"
                                        id="exampleInputEmail1" />
                                    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <label for="exampleInputPassword1" class="form-label">Password</label>
                                    <input type="password" class="form-control" placeholder="Password" value=""
                                        name="password" id="exampleInputPassword1" />
                                </div>

                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                    </form>
                </div>
            </div>


        </div>
    </div>
</div>

</div>



{% endblock %}